.body{
    width: 260px;
    height: 525px;
    background-color: #22252D;
    border-radius: 20px;

}

.d-body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 35vh;
    background-color: #22252D;
}

.buttons{
    margin-top: 10px;
    border-radius: 30px 30px 20px 20px;
    width: 100%;
    height: 62vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2A2D37;
}

.menu-title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(102, 102, 102);
    opacity: 0.5;
}

.menu-title i{
    color:#fff;
    margin-right: 15px;
    font-size: 15px;
    opacity: 0.7;
}


.op-color{
    opacity: 0.5;
}